# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C++
*
!/**/
!*.*
*.dSYM

# VSCODE
.vscode/*
*tasks.json

#Visual Studio
# User-specific files
*/*.suo
*/*.user
*/*.userosscache
*/*.sln.docstates
*/*.sln

*dll
*pdb
*.json
*.cache
*.props
*.targets
*Assembly*
*Absolute*
*.DS_Store*
*tmp*
*CopyComplete*


# Build results
*/*[Dd]ebug/
*/*[Dd]ebugPublic/
*/*[Rr]elease/
*/*[Rr]eleases/
*/*x64/
*/*x86/
*/*build/
*/*bld/
*/*[Bb]in/
*/*[Oo]bj/
*/*[Oo]ut/
*/*msbuild.log
*/*msbuild.err
*/*msbuild.wrn
*/*.vs*
